stages:
#  - test
  - build
  - deploy

variables:
  CI_REGISTRY: "registry.gitlab.com"
  CI_REGISTRY_IMAGE: user_service
  CI_IMAGE_NAME: $CI_REGISTRY_IMAGE:latest

build:
  stage: build
  image: docker:24.0
  services:
    - docker:24.0-dind
  variables:
    CI_REGISTRY_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_IMAGE_NAME .
    - docker push $CI_IMAGE_NAME
  only:
    - master

trigger_deploy:
  stage: deploy
  script:
    - "curl -X POST --fail -F token=$DEPLOY_REPO_TRIGGER_TOKEN -F ref=main https://gitlab.com/api/v4/projects/68997048/trigger/pipeline"

  only:
    - master
