stages:
  - test
  - build
  - deploy

variables:
  CI_REGISTRY: "registry.gitlab.com"
  CI_REGISTRY_IMAGE: user_service
#  CI_IMAGE_NAME: $CI_REGISTRY_IMAGE:latest
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

build:
  stage: build
  image: docker:24.0
  services:
    - docker:24.0-dind
  variables:
    CI_REGISTRY_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE:$IMAGE_TAG
    - echo $IMAGE_TAG > cloud.tag
  artifacts:
    paths:
      - cloud.tag
  only:
    - master

trigger_deploy:
  stage: deploy
  script:
    - 'curl --request POST --form token=$DEPLOY_REPO_TRIGGER_TOKEN --form  ref=main -form "variables[CLOUD_APP_TAG]=$CI_COMMIT_SHORT_SHA" https://gitlab.com/api/v4/projects/68997048/trigger/pipeline'
  only:
    - master
